a.bouton1 {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  a.bouton1:hover {
    background-color: #fff568;
    text-decoration: none;
  }

  a.bouton2 {
      color: white;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      padding: 5px;
    }
    a.bouton2:hover {
      background-color: #6495ED;
      text-decoration: none;
    }

    a.bouton3 {
        color: white;
        background-color: #000080;
        background: url(Image/Logo-Pronote.png) no-repeat 50% 50%;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        padding: 5px;
      }
      a.bouton3:hover {
        background-color: #3b9f42;
        text-decoration: none;
      }



.Image{
  width: 100%;
  max-width: 100%;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  background-size: cover;
  position: absolute;
  /*bottom: 1122px;*/
}

.btn4{
  top: 120%; left: 50%;
  transform: translate(-50%, -50%);
  border-style: inset;
  position:absolute;
  width:500px;
  height:100px;
  border:1px solid #000;
  display: inline-block;


}

.Widget1{
  margin-right: 30px;
  float: left;
  margin-bottom: 10px;
}

.Widget2{
  margin-right: 30px;
  float: left;
  margin-bottom: 10px;
}

.Widget3{

float: left;
}
