a.bouton1 {
    color: white;
    text-decoration: none;
    background-color:  #6495ED;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
  }
  a.bouton1:hover {
    background-color:  cyan;
    text-decoration: none;
  }

  a.bouton2 {
      color: white;
      text-decoration: none;
      background-color: #6495ED;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      border-radius: 50px;
    }
    a.bouton2:hover {
      background-color: cyan;
      text-decoration: none;
    }

    a.bouton3 {
        color: white;

        background: url(Image/Logo-Pronote.png) no-repeat 50% 50%;
        text-decoration: none;
        border-radius: 50px;
        border: 2px;
        font-weight: bold;
        text-align: center;
        padding: 5px;
      }
      a.bouton3:hover {
        background-color: #3b9f42;
        text-decoration: none;
      }

.text{
  top: 120%; left: 50%;
  transform: translate(-50%, -50%);
  position:absolute;
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: black;

}

.Image{
  width: 100%;
  max-width: 100%;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  background-size: cover;
  position: absolute;
}

.Image2{
  width: 35%;
  max-width: 100%;
  top:155%; left: 20%;
  transform: translate(-50%, -50%);
  height: auto;
  background-size: cover;
  position: absolute;
}

.Image3{
  width: 35%;
  max-width: 100%;
  top:155%; left: 80%;
  transform: translate(-50%, -50%);
  height: auto;
  background-size: cover;
  position: absolute;
}

.btn4{
  top: 145%; left: 50%;
  transform: translate(-50%, -50%);

  position:absolute;
  width:500px;
  height:100px;
  display: inline-block;


}

.Widget1{
  margin-right: 30px;
  float: left;
  margin-bottom: 80px;
}

.Widget2{
  margin-right: 30px;
  float: left;
  margin-bottom: 80px;
}

.Widget3{

float: left;
}
