/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/*---------------------------------------------------------------------------*/
.btn4{
  top: 0%; left: 50%;
  transform: translate(-50%, -50%);
  border-style: inset;
  position:absolute;
  width:500px;
  height:100px;
  border:3px solid #000;
  display: inline-block;


}

a.bouton1 {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  a.bouton1:hover {
    background-color: #fff568;
    text-decoration: none;
  }

/*---------------------------------------------------------------------------*/

body {
	margin: 20px 0;
	padding: 0;
	/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }

p, blockquote, ul, ol {
	line-height: 180%;
	text-align: justify;
	font-size: small;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}

/* Header */

#header {
	width: 660px;
	height: 200px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	width: 200px;
	height: 200px;
	background: url();
}

#logo * {
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	color: #0c57a0;
}

#logo h1 {
	padding: 74px 0 0 0;
	letter-spacing: -2px;
	font-size: 2.25em;
}

#logo h2 {
	padding: .25em 0 0 0;
	letter-spacing: -1px;
	font-size: 1em;
}

/* Menu */

#menu {
	float: right;
	width: 450px;
	height: 200px;
	background: url(../Image/fond_formation.jpg);
}

#menu ul {
	float: right;
	margin: 0;
	padding: 180px 20px 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 0 0 0 2em;
	text-transform: lowercase;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
}

/* Content */

#content {
	width: 660px;
	margin: 0 auto;
	border-top: 10px solid darkblue;
}

#colOne {
	float: left;
	width: 500px;
}

#colOne .top-head {
	padding: 30px 0 0 20px;
	border-top: blue 10px solid;
	color: #0c57a0;
}

#colOne .content {
	padding: 20px;
}

#colTwo {
	float: right;
	width: 190px;
	padding-right: 10px;
	border-top: 10px solid #320E15;
}

#colTwo .top-head {
	padding: 30px 0 0 20px;
}

#colTwo .content {
	padding: 10px 10px 10px 20px;
}

#extra {
	height: 10px;
}

/* Footer */

#footer {
	width: 660px;
	height: 60px;
	margin: 0 auto;
	background: url(images/img4.gif);
	border-top: 10px solid darkblue;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
	font-size: x-small;
	color: #A1A1A1;
}

#footer a {
	color: #A1A1A1;
}
